.product-display {
    display: flex;
    margin: 0px 170px;
}

.product-display-left {
    display: flex;
    gap: 17px;
}

.product-display-img {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-display-img img {
    height: 500px;
    width: 586px;
}

.product-display-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.product-display-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.product-display-right-prices {
   display: flex;
    margin: 40px 0;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.product-display-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.product-display-right-prices {
    color: #ff4141;
}

.product-display-right button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-top: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}



